h1{
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  text-decoration: underline;
  color: white;
  font-size: 70px;
}

body{
  background-color: black;
}

p{
  font-size: 20px;
  color: yellow;
}

ul,li{
  list-style-type:square;
  font-size: 25px;
  color: yellow;
}

h2{
  text-align: center;
  color: yellow;
  font-size: 50px;
  font-family: cursive;
  font-weight: bold;

}

h3{
  font-size: 40px;
  color:yellow ;
  font-family: cursive;
}

p1{
  font-size: 40px;
  color: yellow;
  font-family: cursive;
  font-weight: bold;
}



